{% extends 'base/base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h1>Изменение пароля</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.old_password }}
                {{ form.new_password }}
                {{ form.repeat_new_password }}
                <input type="submit" value="Изменить пароль" class="btn btn-primary mt-3">
                {% if is_old_password_wrong %}
                    <p>Неправильно введён старый пароль</p>
                {% elif is_repeat_password_wrong %}
                    <p>Пароли не совпадают</p>
                {% elif is_new_password_wrong %}
                    <p>Длина пароля должна быть не менее 8 символов</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
