{% extends 'base/base.html' %}

{% block content %}
<div  class="row mt-3">
<h1>Создание голосований</h1>
<form method="POST" action="/creating/">
  {% csrf_token %}
  <input type="text" id="header" name="header"></br>
  <input id="content" type="text" name="el_1" class="Formel">
  <button id="plus" onclick="add"></button>
  <section class="Adder" ></section>
  <p><button type="submit">Создать</button></p>
</form>
  {% if status is 1 %}
  <h3>Успешно добавлено</h3>
  {% elif status is 0 %}
  <h3>Ошибка заполнения формы</h3>
  {% endif %}
</div>
<style>
  Formel {}
  Adder {display: none;}
</style>
<script language="JavaScript">
  function add() {
    inp=document.getElementById("content")
    let s =  document.querySelector('.adder').options;
    s[s.length]= new Option(inp.value,inp.value,true);
  }
</script>
{% endblock %}
