{% extends 'base/base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h1>Изменение пароля</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="password" placeholder="Старый пароль" class="form-control" name="old_password"><br>
                <input type="password" placeholder="Новый пароль" class="form-control" name="new_password"><br>
                <input type="password" placeholder="Повторите новый пароль" class="form-control" name="repeat_new_password"><br>
                <input type="submit" value="Изменить пароль" class="btn btn-primary mt-3">
                {% if is_old_password_wrong %}
                    <p>Неправильно введён старый пароль</p>
                {% elif is_repeat_password_wrong %}
                    <p>Пароли не совпадают</p>
                {% elif is_new_password_wrong %}
                    <p>Длина пароля должна быть не менее 8 символов</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
