{% extends 'base/logreg_base.html' %}

{% block content %}

    <div class="text-center shadow border-light p-5">
        <form action="{% url 'django_registration_register' %}" method="POST">
            {% csrf_token %}
            
            <h1 class="h3 mb-4 fw-normal">Регистрация</h1>
            <div class="form-floating mb-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
                <input type="login" class="form-control" id="floatingUsername" placeholder="Имя пользователя">
                <label for="floatingUsername">Имя пользователя</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingEMail" placeholder="Адрес электронной почты" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."> 
                <label for="floatingEMail">Адрес электронной почты</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
                <label for="floatingPassword">Пароль</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="floatingPasswordConfirmation" placeholder="Подтвердите пароль">
                <label for="floatingPasswordConfirmation">Подтвердите пароль</label>
            </div>
            <div class="input-group d-flex justify-content-between">
                <a class="py-2 nav-link btn-sm d-none d-md-inline-block" href="/login">Войти</a>
                <button class="btn btn-primary" type="submit">Зарегестрироваться</button>
            </div>
        </form>
    </div>

{% endblock %}

