
<nav class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="container m-0 d-flex flex-row flex-md-row justify-content-between">
        <div class="col-3 d-flex flex-column flex-md-row text-center justify-content-between">
            <a class="py-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            </a>
        </div>
        <div class="col-3 d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 nav-link d-none d-md-inline-block" href="#about">О нас</a>
            <a class="py-2 nav-link d-none d-md-inline-block" href="#work">Как пользоваться</a>
            <a class="py-2 nav-link d-none d-md-inline-block" href="#start">Начать</a>
        </div>
        <div class="col-3 px-4 d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 nav-link d-none d-md-inline-block" href="#">Войти</a>
            <a class="btn d-none d-md-inline-block btn-primary" href="accounts/register">Зарегестрироваться</a>
        </div>
    </div>
</nav>